main.main
    .container
     .box 
      i.fal.fa-times 
      h1.main__box Авторизация
       h5.main-text E-mail
        .main-input 
          input(class="bj" type="email" placeholder=" eret@///")
        h5.main-text Пароль
         .main-input 
           input(class="vh" type="password" placeholder=" ********")
       a.main-bg(href="") 
        li Забыли пароль?
       button.left Войти
       .mai-db 
       input(class="btn" type="checkbox")
       h6 Запомнить меня 
      .main-p 
      p Если у вас еще нет аккаунта, вам необходимо
     a.main-gap(href="")  Зарегистрироваться. 