main.man
    .container
     .box 
      i.far.fa-times
      h1.main__box Восстановление пароля
       h5.main-text E-mail
        .main-input 
          input(class="bj" type="email" placeholder=" eret@///")
        h5 Контрольная строка для смены пароля будет высланы вам по E-Mail.
       a.main-bg(href="") 
       button.right  Восствновить
